*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh ;
    background: linear-gradient(135deg,rgba(200, 220, 141, 0.333),#dc5216);
   
 padding:10px;
}

.todo{
    width: 100%;
    max-width: 540px; 
    background: #fff;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo h2{
    color: #dc5216;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(rgb(112, 193, 239), rgb(63, 79, 152), blue);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 24px;

}
input{
    flex:1;
    border: none;
    outline: none;
    background: #d3d0cf;
    padding: 10px;
    font-weight: 14px;

}
button{
    border: none;
    outline: none;
    padding: 10px 5px;
    background: #ff5945 ;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;


}

ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #dd1717;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}


ul li span:hover{
    background: #0540b7;

}